* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    outline: none;
}

input {
    text-transform: capitalize;
    outline: none;
}

section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.edit_container {
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding:2rem ;
    top: 0rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: .35 cubic-bezier(1,-0.33,.17,1.48);
    -webkit-transition: .35 cubic-bezier(1,-0.33,.17,1.48);
    -moz-transition: .35 cubic-bezier(1,-0.33,.17,1.48);
    -ms-transition: .35 cubic-bezier(1,-0.33,.17,1.48);
    -o-transition: .35 cubic-bezier(1,-0.33,.17,1.48);
}

.edit_container.active {
    /* padding: 2rem; */
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    opacity: 1;
    top: 2rem;
}
.edit_container h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.edit_container  {
    display: flex;
    flex-direction: column;
}

.edit_container  input,
.edit_container  .btn_edit {
    margin-bottom: 1rem;
    font-size: .9rem;
}

.edit_container  .btn_edit {
    display: flex;
    width: 100%;
    justify-content: center;
}

.edit_container  .btn_edit button {
    padding: 4px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: 900;
    color: white;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.edit_container  .btn_edit button#cancelEdit {
    background-color: red;
    margin-right: 3rem;
}

.edit_container  .btn_edit button#cancelEdit:hover {
    background-color: #fff;
    color: red;
    border-color: red;
}

.edit_container  .btn_edit button#saveEdit {
    background-color: green;
}

.edit_container  .btn_edit button#saveEdit:hover {
    background-color: #fff;
    color: green;
    border-color: green;
}

section h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

section .input_container {
    margin-bottom: 1rem;
}

section .input_container form {
    display:flex;
    flex-direction: column;
}

section form input,
section .edit_container input {
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid gray;
}

section .input_container form button {
    width: 50%;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

section table th{
    border: 1px solid gray;
    padding: 8px 1rem;
    color: white;
    background-color: green;
}

section table tr:nth-child(2n) {
    background-color: rgba(128, 128, 128, 0.204);
}

section table tr td {
    padding: 10px 12px;
    border: 1px solid gray;
}

section table tr td:first-child {
    text-align: center;
}

section table tr td button {
    font-size: .9rem;
    border: 2px solid transparent;
    padding: 5px 15px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

section table tr td button.edit {
    background-color: blue;
}

section table tr td button.edit:hover {
    background-color: #fff;
    color: blue;
    border-color: blue;
}

section table tr td button.del {
    background-color: red;
}

section table tr td button.del:hover {
    background-color: #fff;
    color: red;
    border-color: red;
}